@charset "utf-8";
.menu {	
    width: 100%;
    height: 55px;
    overflow: hidden;
    position: relative;
}

nav {
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
	margin: 20px auto;	
	width: 100%;
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
    font-size: 17px;
	}
 
nav ul {
	list-style: none;
}
 
nav > ul {
	display: table;
	width: 100%;
	background: #130f40;
	position: relative;
}
 
nav > ul li {
	display: table-cell;
}
 

nav > ul > li:hover > ul {
	display: block;
	height: 100%;
	
}
 
nav > ul > li > ul {
	display: block;
	position: absolute;
	background: #130f40;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul li a {
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
 
nav > ul > li > a > span {
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a > span .icono {	
	padding-top: 9px;
	font-size: 35px;
}

 
nav > ul > li > a:hover > span {
	top: 0;
}

nav ul li a .primero {
	background: #B71C1C;
}
 
nav ul li a .segundo {
	background: #61ceca;
}
 
nav ul li a .tercero {
	background: #f25724;
}
 
nav ul li a .cuarto {
	background :#004D40;
}
 
nav ul li a .quinto {
	background: #F50057;
}
.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0px;
	width: 100%;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	}

.pie{
	color: #FFFFFF;
	padding: 50px 0 25px;
	background: rgba(22,30,123,0.88);
	box-shadow: inset 0 10px 4px -8px rgba(24,31,99,0.97);
}

